body{
    font-family: 'Roboto', sans-serif;
    margin: 0;
}

h1,h2,h3,h4,h5,h6{
    font-family: 'Bebas Neue', cursive;
    font-weight: 400;
    text-transform: uppercase;
    margin: 0;
}

h1{
    font-size: 80px;
    line-height: 93.75px;
    color: #363958;
}
h2{
    font-size: 64px;
}
h3{
    font-size: 48px;
    color: #363958;
}
h4{
    font-size: 36px;
}
h5{
    font-size: 24px;
}

#nav-bar{
    height: 24px;
    margin: 36px 135px 60px 135px;
}
#nav-bar ul{
    margin-top: 0;
    float: right;

}
#nav-bar li{
    list-style: none;
    display: inline;
    padding-left: 40px;
    font-weight: 500;
    font-size: 16px;
    color: #3C3C3C;
}
#nav-bar li a{
    text-decoration: none;
    color: inherit;
}
#nav-bar li a:hover{
    color: #FF8367;
}

#top-section{
    margin: 0 135px;
    clear: left;
    /* border: 1px solid tomato; */
    height: 540px;

}

#intro-div{
    padding-top: 60px;
}

#intro-div p{
    margin-top: 18px;
    margin-bottom: 52px;
    color: #3E3E3E;
    line-height: 24px;
}

#top-section img{
    padding-left: 120px;
}

.half-width{
    width: 40%;
    float: left;
}

.half-width img{
    width: 100%;
}


.orange-highlight{
    color: #FF8367;
}

.primary-button{
    padding: 16px 56px;
    text-decoration: none;
    background: linear-gradient(0deg, #FF8063 -28.33%, #F46060 95.83%);
    color: white;
    text-transform: capitalize;
    border-radius: 6px;
    font-weight: 500;
}

.primary-button img{
    width: 100%;
}

#about-section{
    margin: 0 72px 135px 135px;
    /* border: 1px solid tomato; */
    clear: left;
    overflow: hidden;
    height: 560px;
}
#about-div{
    padding-left: 128px;
    padding-top: 88px;
}
#about-div p{
    line-height: 24px;
    padding-top: 28px;
    padding-bottom: 40px;
    color: 3E3E3E;
}


/* Project section */
#project-section{
    /* margin-top: 72px; */
    clear: left;
    height: 816px;
    background-color: #F8F9FC;
    padding: 0 135px;
    /* border: 1px solid tomato; */

}

#project-section h3{
    padding-top: 124px;
    text-align: center;
}

.project-card{
    margin-top: 80px;
    height: 372px;
    background-color: #FFFFFF;
    width: 28%;
    float: left;
    border-radius: 20px;
    padding: 16px;
    box-shadow: 0px 6.5812px 19.7436px rgba(0, 0, 0, 0.07);
}

#project-section div div{
    width: 100%;
    padding: 24px 8px;
}
#project-section div div h4{
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    color: #363958;
}

#project-section div div p{
    color: #6C6C6C;
    line-height: 28px;
    margin: 16px 0;
}
#project-section div img{
    width: 100%;
}

#project-card-01{
    margin-right: 30px;
}

#project-card-02{
    margin-right: 30px;
}


/* Work inquery section */
#work-inquery-section{
    margin: 100px 267px;
}

#work-inquery-section div{
    background: linear-gradient(138.38deg, #5D69E9 -7.79%, #4225B6 98.72%);
    border-radius: 30px;
    /* height: 224px; */
    padding: 82px 72px;
}

#work-inquery-section div h2{
    color: #FFFFFF;
    display: inline;
    line-height: 64px;
}

#work-inquery-section div a{
    float: right;
    border: 1px solid tomato;
    margin-top: 14px;
}
/* Footer */
footer{
    text-align: center;
    padding-bottom: 80px;
}

footer h5{
    color: #696871;
    margin-bottom: 16px;
}

footer h4{
    color: #363958;
    margin-bottom: 20px;
    font-family: 'Roboto', sans-serif;
    text-transform: none;
    font-weight: 700;
    line-height: 42px;

}
 footer ul{
    padding-left: 0;
 }
footer ul li{
    list-style: none;
    display: inline;
}

/* Learned about nth-child from mdn to tried it here
link: https://developer.mozilla.org/en-US/docs/Web/CSS/:nth-child */
footer ul li:nth-child(-n + 2){
    padding-right: 28px;
}
footer img{
    height: 40px;
    width: 40px;
}